 <h2>Edit Your Build: <%= @home.name%></h2>

<form action="/my-builds" method="POST">
    <p>Project Name <input type="text" id="projectname" name="name" value="<%= @home.name%>" required></p><br>
    <p>Type of Home  <select name="type_of_home" id="type_of_home" required>
        <option value=""><%= @home.type_of_home%></option>
        <option value="Bungalow">Bungalow</option>
        <option value="Cottage">Cottage</option>
        <option value="Cabin">Cabin</option>
        <option value="Chalet">Chalet</option>
        <option value="Condominium">Condominium</option>
        <option value="Floating Home">Floating Home</option>
        <option value="Mansion">Mansion</option>
        <option value="Manor">Manor</option>
        <option value="Mobile Home">Mobile Home</option>
        <option value="Multi-Family">Multi-Family</option>
        <option value="Ranch">Ranch</option>
        <option value="Tiny Home">Tiny Home</option>
        <option value="Townhome">Townhome</option> 
        <option value="Underground Home">Underground Home</option>
        <option value="Yurt">Yurt</option>
    </select></p><br>
    <p>Size <input type="text" id="size" name="size" value="<%= @home.size%>" required></p><br>
    <p>Bedrooms <select name="bedrooms" id="bedrooms" required>
        <option value=""><%= @home.bedrooms%></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    Bathrooms <select name="bathrooms" id="bathrooms" value="<%= @home.bathrooms%>" required>
        <option value="">Select One</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select></p><br>
    <p>Location <input type="text" id="location" name="location" value="<%= @home.location%>" required></p><br>
    <input type="submit" value="Complete" id="submit">
</form>